<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Jeff's Plexi-verse</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="headerstyle.css">
    <link rel="icon" href="images/favicon.ico" type="image/xicon">


</head>

<body>
    <header>
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                    <h1><a href="index.html">JEFF'S <span>PLEXI-VERSE</span></a></h1>
                </div>

                <ul class="navigation">

                    <a>
                        <li>TV</li>
                    </a>
                    <a href="movies.html">
                        <li>Movies</li>
                    </a>
                    <a>
                        <li>Cult Classics</li>
                    </a>
                    <a>
                        <li>Jeff's Favorites</li>
                    </a>
                    <a>
                        <li>Movie News</li>
                    </a>



                </ul>
            </div>
        </div>

    </header>